[Oo]bj/
src/**/[Bb]in/
specs/**/[Bb]in/
.nuget/
_ReSharper.*
packages/
artifacts/
*.user
*.cache
*.suo
*.userprefs
*DS_Store
*.sln.ide
lib/license.xml
lib/Sitecore/*
!lib/Sitecore/readme.MD
lib/System/*
!lib/System/readme.MD
.sonar
vars.user.cmd
/.vs
/target
/node_modules
temp/
*.ncrunchproject
*.ncrunchsolution
.vscode
nCrunchTemp*.*
images/
/src/Project/Habitat/serialization/Project.Habitat.Users/habitat/terry@shaw.com.yml
/src/Project/Habitat/serialization/Project.Habitat.Users/habitat/paul@stanley.com.yml
/src/Project/Habitat/serialization/Project.Habitat.Users/habitat/jerry@seinfeld.com.yml
