<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
   <sitecore>

      <model>
         <elements>
            <element interface="Sitecore.Feature.CognitiveServices.Facets.IContactSitecoreHello, Sitecore.Feature.CognitiveServices"
                     implementation="Sitecore.Feature.CognitiveServices.Facets.ContactSitecoreHello, Sitecore.Feature.CognitiveServices" />
         </elements>
         <entities>
            <contact>
               <facets>
                  <facet name="SitecoreHello" contract="Sitecore.Feature.CognitiveServices.Facets.IContactSitecoreHello, Sitecore.Feature.CognitiveServices" />
               </facets>
            </contact>
         </entities>
      </model>

      <services>
         <configurator type="Sitecore.Feature.CognitiveServices.IoC.CognitiveServicesConfigurator, Sitecore.Feature.CognitiveServices" />
      </services>

      <settings>
         <setting name="CognitiveServices.ApiRoot" value="https://westus.api.cognitive.microsoft.com/face/v1.0" />
         <setting name="CognitiveServices.ApiKey" value="cb3329adc3f1475d8a1227f4627da0b0" />
         <setting name="CognitiveServices.DetectApi" value="detect" />
         <setting name="CognitiveServices.PersonApi" value="persons" />
         <setting name="CognitiveServices.PersonGroupApi" value="persongroups" />
         <setting name="CognitiveServices.IdentifyApi" value="identify" />
         <setting name="CognitiveServices.PersonGroupId" value="eff83b97-845f-4fd0-9bbf-8ac8d5696bce" />
      </settings>

      <pipelines>
         <initialize>
            <processor type="Sitecore.Feature.CognitiveServices.Pipelines.RegisterWebApiRoutes, Sitecore.Feature.CognitiveServices" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
         </initialize>
      </pipelines>
   </sitecore>
</configuration>