<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.CognitiveServices" description="Feature Cognitive Services" dependencies="Foundation.Serialization,Foundation.Accounts" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\feature\cognitiveservices\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Feature.CognitiveServices.Templates" database="master" path="/sitecore/templates/Feature/CognitiveServices" />
            <include name="Feature.CognitiveServices.Renderings" database="master" path="/sitecore/layout/renderings/Feature/CognitiveServices" />
            <include name="Feature.CognitiveServices.Core.Templates" database="core" path="/sitecore/templates/Feature/CognitiveServices" />
            <include name="Feature.CognitiveServices.Media" database="master" path="/sitecore/media library/Feature/CognitiveServices" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>