<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="Sitecore.Feature.CognitiveServices.IoC.CognitiveServicesConfigurator, Sitecore.Feature.CognitiveServices" />
    </services>
    <settings>
    </settings>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Feature.CognitiveServices.Pipelines.RegisterWebApiRoutes, Sitecore.Feature.CognitiveServices" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>